*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.container{
    padding-top:80px;
    width:100%;
    min-height:100vh;
    background:rgb(32, 35, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    position: absolute;
    top:10px;
    padding:15px 25px;
    background:rgb(42, 46, 48);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.164);
}
.color{
    padding:15px 25px;
    background:rgb(42, 46, 48);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.164);
    font-size:26px;
}

#red{
    color:rgb(219, 75, 75);
    border-bottom:1px solid rgb(219, 75, 75);
}
#green{
    color:rgb(38, 189, 38);
    border-bottom:1px solid rgb(38, 189, 38);
}
#blue{
    color:rgb(70, 70, 228);
    border-bottom:1px solid rgb(70, 70, 228);
}
.colors{
    margin:20px;
    padding:15px 15px;
    background:rgb(42, 46, 48);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.164);
    display: flex;
    flex-wrap: wrap;justify-content: center;
   
}
.box{
    width:120px;
    height:120px;
    margin:10px;
    border-radius: 50%;
    box-shadow: 0 6 px 20px rgba(0, 0, 0, 0.137);
    background:rgb(68, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding:15px 15px;
    background:rgb(42, 46, 48);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.164);border:none;
    outline:none;
    transition:0.3s ease all;
    font-size:16px;
}
button:hover{
    transform: scale(1.15);
}
button:active{
    transform: scale(0.9);
}